body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.brand {
	background: #cbb09c !important;
}

.brand-text {
	color: #cbb09c !important;
}

.img-container {
	height: 80vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.img {
	height: 240px;
	width: 240px;
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.img > img {
	width: 100%;
	height: auto;
}
form {
	max-width: 460px;
	margin: 20px auto;
	padding: 20px;
}

/* ==== */

.cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	width: 160px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card .card-content {
	padding: 5px;
	width: 100%;
}
.card .card-action {
	padding: 16px 0;
}
.description {
	font-size: 12px;
	margin: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.progress-background {
	width: 100%;
	border: 1px solid grey;
	height: 12px;
	box-sizing: unset;
	position: relative;
}
.progr1,
.progr2 {
	height: 12px;
	margin: 0;
	background-color: #ee6e73;
	position: absolute;
	z-index: 1;
}
.progr2 {
	background-color: #ebe8e8;
	z-index: 0;
}

/* all users */

table > thead a {
	text-decoration: none;
	color: #ee6e73;
	font-weight: bold;
}
table .user-details a {
	text-decoration: none;
	color: grey;
}
table .user-details {
	text-decoration: none;
	color: grey;
}
table {
	margin-top: 50px;
}
.users-form,
.pokemon-form {
	max-width: 100%;
}

.page-footer {
	padding-top: 0;
}
/* poekmon details */

.pokemon-img {
	margin: 30px 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: -30px;
}
.pokemon-img > .image > img {
	height: 120px;
}

form {
	max-width: 460px;
	margin: 20px auto;
	padding: 20px;
}
